html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: #1f2937;
  width: 450px;
  border-radius: 10px;
  margin: 6em auto;
  padding: 50px;
}
.title {
  color: #ffffff;
}

.title span {
  color: #0284c7;
}
.subtext {
  color: #d5d4d8;
}

#password-btn,
#password-length {
  padding: 10px 15px;
  border-radius: 6px;
  border: 0;
}
#password-btn {
  background-color: #0284c7;

  padding: 10px 15px;
  border-radius: 6px;
  color: #ffffff;
}

form {
  border-bottom: 1px #2f3e53 solid;
  padding-bottom: 25px;
}

#password-length {
  margin-right: 10px;
}
.password-options {
  display: flex;
  flex-flow: row wrap;
  color: #0284c7;
}

.password-options p {
  background-color: #273549;
  width: 185px;
  padding: 10px 15px;
  border-radius: 6px;
  overflow-wrap: break-word;
  margin: 0;
  min-height: 20px;
}
#password-1,
#password-2 {
  margin-top: 25px;
  margin-bottom: 20px;
}
#password-1,
#password-3 {
  margin-right: 10px;
}

#password-2,
#password-4 {
  margin-left: 10px;
}
