html {
  font-size: 16px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7e8890;
  background-color: #1c2328;
}
div {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: #fff;
  font-weight: 600;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}

.container.pd {
  padding: 6em 2em;
}

.fl {
  display: flex;
  justify-content: space-around;
}
.section-title {
  text-align: center;
  font-size: 2em;
  margin: 0;
  padding: 2em 1em 0;
}

/* Section - main */

.main {
  background: linear-gradient(
    134deg,
    rgba(13, 25, 86, 1) 9%,
    rgba(135, 0, 80, 1) 88%
  );
  position: relative;
}

.main blockquote {
  margin-left: 0;
  color: #82517d;
  font-size: 1.5rem;
}

.main-title {
  font-size: 4rem;
  margin: 0 0 0.25em;
  font-weight: 800;
}

.sub-title {
  font-weight: 600;
  width: 50%;
}

.main-content {
  position: relative;
  z-index: 10;
}

.main-img {
  width: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: url("../assets/monster.png");
  background-repeat: no-repeat;
  background-position: right top;
}

/* Section - About me  */

.contact-links ul {
  margin: 0;
  padding: 0;
}

.contact-links li {
  list-style: none;
  margin: 1em 0;
}

.contact-links a {
  color: #01d3fe;
}
.contact-icon {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
}

.about-wrap {
  width: 75%;
  padding-left: 2em;
  border-left: 2px solid #212a2f;
}

.about-wrap p {
  font-weight: 300;
  font-size: 1.15em;
  line-height: 1.65em;
}

.bio-img {
  width: 230px;
  height: 230px;
  border-radius: 100%;
  background-image: url("../assets/profile.jpeg");
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}

/* Section - projects  */

.projects {
  background: #212a2f;
}

.project {
  width: 30%;
  padding: 1em 2em;
  margin-bottom: 2em;

  background-color: #1c2328;
  border-top: 2px solid #77e000;
}

/* Section - footer  */
footer p {
  margin-left: 2em;
}

/* Media queries  */

@media only screen and (max-width: 768px) {
  .fl {
    flex-direction: column;
  }
  .project {
    width: 100%;
  }
  .about-wrap,
  .sub-title {
    width: 100%;
    border-left: none;
  }
}

@media only screen and (max-width: 400px) {
  .main-img {
    background-size: 100%;
    background-position: 0 190%;
  }
}
